<div class="col-sm-11 col-xs-12 blog-content">
<h1><%= @user.user_name %></h1>
 <div class="profile">

</div>

<%= link_to 'Update Profile', edit_user_path %>
<%= link_to 'Delete Profile', destroy_user_path %>

